<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/tickets.css' />
  </head>
  <body>
    <h1><%= title %></h1>



    <div id="ticket-container">
      <% for(i=37; i<54; i++) { %>


        <div class = "ticket">
          <h2>Admit One</h2>
          <h3>Ticket #<%= i %></h3>
        <h3>19 March 2018</h3>
        <h3>It's all festival seating!</h3>
        </div>



      <% } %>
    </div>


  </body>
</html>
