@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');
@import url('https://fonts.googleapis.com/css?family=Rye');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer+SC');

#ticket-container {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: repeat(35, 150px);
  grid-gap: 5px;
}

.ticket {
  text-align: center;
  border-radius: 2px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  background-color: rgba(255,0,50,0.0);
  transition: 1s;
  cursor: pointer;
}

.ticket:hover {
  background-color: rgba(255,0,50,0.8);
}

h2 {
  font-family: 'Rye', cursive;
  font-size: 32px;
  text-transform: uppercase;
  margin:0;
  margin-top: 18px;
}

h3 {
  margin:0;
  font-family: 'IM Fell Great Primer SC', serif;
  font-size: 16px;
  margin-top: 4px;
}
